<div class="2xl:container 2xl:mx-auto">
    <div class="rounded shadow-lg py-5 px-7">
        <div class="flex justify-between">
            <div class="flex items-center space-x-3 lg:pr-16 pr-6">
                <%= link_to 'Friend App', root_path, class:"font-normal text-2xl leading-6 text-gray-800"%>
            </div>
            <ul class="hidden md:flex flex-auto space-x-2">
                <%# <li class="">Collections</li> %>
                <%= link_to 'About', hello_about_path, class:"text-slate-600 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3" %>
            </ul>
            <div class="flex space-x-5 justify-center items-center pl-2">
            </div>
        </div>
    </div>
</div>